<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Halfway.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA553D92252DA90800B1BDF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA553DA8252DA90C00B1BDF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA553DB3252DA90C00B1BDF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
